<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title> Digital Market Place HTML Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <!-- Slick -->
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <!-- line awesome -->
    <link rel="stylesheet" href="{% static 'assets/css/line-awesome.min.css' %}">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

</head>
<body>

<!--==================== Preloader Start ====================-->
 <div class="loader-mask">
  <div class="loader">
      <div></div>
      <div></div>
  </div>
</div>
<!--==================== Preloader End ====================-->

<!--==================== Overlay Start ====================-->
<div class="overlay"></div>
<!--==================== Overlay End ====================-->

<!--==================== Sidebar Overlay End ====================-->
<div class="side-overlay"></div>
<!--==================== Sidebar Overlay End ====================-->

<!-- ==================== Scroll to Top End Here ==================== -->
<div class="progress-wrap">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
  </svg>
</div>
<!-- ==================== Scroll to Top End Here ==================== -->

<!-- ==================== Mobile Menu Start Here ==================== -->
<div class="mobile-menu d-lg-none d-block">
    <button type="button" class="close-button"> <i class="las la-times"></i> </button>
    <div class="mobile-menu__inner">
        <a href="index.html" class="mobile-menu__logo">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo">
        </a>
        <div class="mobile-menu__menu">

<ul class="nav-menu flx-align nav-menu--mobile">
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link">Home</a>
        <ul class="nav-submenu">
            <li class="nav-submenu__item">
                <a href="index.html" class="nav-submenu__link"> Home One</a>
            </li>
            <li class="nav-submenu__item">
                <a href="index-two.html" class="nav-submenu__link"> Home Two</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link">Products</a>
         <ul class="nav-submenu">
            <li class="nav-submenu__item">
                <a href="all-product.html" class="nav-submenu__link"> All Products</a>
            </li>
            <li class="nav-submenu__item">
                <a href="product-details.html" class="nav-submenu__link"> Product Details</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link">Pages</a>
         <ul class="nav-submenu">
            <li class="nav-submenu__item">
                <a href="profile.html" class="nav-submenu__link"> Profile</a>
            </li>
            <li class="nav-submenu__item">
                <a href="cart.html" class="nav-submenu__link"> Shopping Cart</a>
            </li>
            <li class="nav-submenu__item">
                <a href="cart-personal.html" class="nav-submenu__link"> Mailing Address</a>
            </li>
            <li class="nav-submenu__item">
                <a href="cart-payment.html" class="nav-submenu__link"> Payment Method</a>
            </li>
            <li class="nav-submenu__item">
                <a href="cart-thank-you.html" class="nav-submenu__link"> Preview Order</a>
            </li>
            <li class="nav-submenu__item">
                <a href="dashboard.html" class="nav-submenu__link"> Dashboard</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)" class="nav-menu__link">Blog</a>
         <ul class="nav-submenu">
            <li class="nav-submenu__item">
                <a href="blog.html" class="nav-submenu__link"> Blog</a>
            </li>
            <li class="nav-submenu__item">
                <a href="blog-details.html" class="nav-submenu__link"> Blog Details</a>
            </li>
            <li class="nav-submenu__item">
                <a href="blog-details-sidebar.html" class="nav-submenu__link"> Blog Details Sidebar</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item">
        <a href="contact.html" class="nav-menu__link">Contact</a>
    </li>
</ul>
            <div class="header-right__inner d-lg-none my-3 gap-1 d-flex flx-align">

    <a href="register.html" class="btn btn-main pill">
        <span class="icon-left icon">
            <img src="assets/images/icons/user.svg" alt="">
        </span>Create Account
    </a>
    <div class="language-select flx-align select-has-icon">
        <img src="assets/images/icons/globe.svg" alt="" class="globe-icon">
        <select class="select py-0 ps-2 border-0 fw-500">
            <option value="1">Eng</option>
            <option value="2">Bn</option>
            <option value="3">Eur</option>
            <option value="4">Urd</option>
        </select>
    </div>
            </div>
        </div>
    </div>
</div>
<!-- ==================== Mobile Menu End Here ==================== -->

<!-- ================================== Account Page Start =========================== -->
<section class="account d-flex">
    <img src="assets/images/thumbs/account-img.png" alt="" class="account__img">
    <div class="account__left d-md-flex d-none flx-align section-bg position-relative z-index-1 overflow-hidden">
        <img src="assets/images/shapes/pattern-curve-seven.png" alt="" class="position-absolute end-0 top-0 z-index--1 h-100">
        <div class="account-thumb">
            <img src="assets/images/thumbs/banner-img.png" alt="">
            <div class="statistics animation bg-main text-center">
                <h5 class="statistics__amount text-white">50k</h5>
                <span class="statistics__text text-white font-14">Customers</span>
            </div>
        </div>
    </div>
    <div class="account__right padding-t-120 flx-align">
        <div class="account-content">
            <a href="index.html" class="logo mb-64">
                <img src="assets/images/logo/logo.png" alt="">
            </a>
            <h4 class="account-content__title mb-48 text-capitalize">Login</h4>

            <form method="POST">{% csrf_token %}
                <div class="row gy-4">
                    <div class="col-12">
                        <label for="name" class="form-label mb-2 font-18 font-heading fw-600">Username</label>
                        <div class="position-relative">
                            <input type="text" class="common-input common-input--bg common-input--withIcon" id="name" name="username" placeholder="Username">
                            <span class="input-icon"><img src="assets/images/icons/user-icon.svg" alt=""></span>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="your-password" class="form-label mb-2 font-18 font-heading fw-600">Password</label>
                        <div class="position-relative">
                            <input type="password" class="common-input common-input--bg common-input--withIcon" name="password" id="your-password" placeholder="6+ characters, 1 Capital letter">
                            <span class="input-icon toggle-password cursor-pointer" id="#your-password"><img src="assets/images/icons/lock-icon.svg" alt=""></span>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-main btn-lg w-100 pill"> Kirish</button>
                    </div>
<!--                    <div class="col-12">-->
<!--                        <button type="submit" class="btn btn-outline-light btn-lg-icon btn-lg w-100 pill">-->
<!--                            <span class="icon icon-left"><img src="assets/images/icons/google.svg" alt=""></span>-->
<!--                            Sign up with google-->
<!--                        </button>-->
<!--                    </div>-->
                    <div class="col-sm-12 mb-0">
                        <div class="have-account">
                            <p class="text font-14">Akkaunt yo'qmi? <a class="link text-main text-decoration-underline  fw-500" href="{% url 'register' %}">Ro'yxatdan o'tish</a></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ================================== Account Page End =========================== -->

    <!-- Jquery js -->
    <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
    <!-- Bootstrap Bundle Js -->
    <script src="{% static 'assets/js/boostrap.bundle.min.js' %}"></script>
    <!-- CountDown -->
    <script src="{% static 'assets/js/countdown.js' %}"></script>
    <!-- counter up -->
    <script src="{% static 'assets/js/counterup.min.js' %}"></script>
    <!-- Slick js -->
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <!-- magnific popup -->
    <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
    <!-- apex chart -->
    <script src="{% static 'assets/js/apexchart.js' %}"></script>

    <!-- main js -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    </body>
</html>
