{% extends 'base.html' %}

{% block content %}

<!-- ======================== Breadcrumb Four Section Start ===================== -->
<section class="breadcrumb breadcrumb-four padding-static-y-60 section-bg position-relative z-index-1 overflow-hidden">

    <img src="assets/images/gradients/breadcrumb-gradient-bg.png" alt="" class="bg--gradient">

    <img src="assets/images/shapes/element-moon3.png" alt="" class="element one">
    <img src="assets/images/shapes/element-moon1.png" alt="" class="element three">

    <div class="container container-two">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb-four-content">
                    <h3 class="breadcrumb-four-content__title text-center mb-3 text-capitalize">Wishlist</h3>
                    <ul class="breadcrumb-list flx-align justify-content-center gap-2 mb-2">
                        <li class="breadcrumb-list__item font-14 text-body">
                            <a href="index.html" class="breadcrumb-list__link text-body hover-text-main">Home</a>
                        </li>
                        <li class="breadcrumb-list__item font-14 text-body">
                            <span class="breadcrumb-list__icon font-10"><i class="fas fa-chevron-right"></i></span>
                        </li>
                        <li class="breadcrumb-list__item font-14 text-body">
                            <span class="breadcrumb-list__text">My Wishlist</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== Breadcrumb Four Section End ===================== -->
<!-- ======================= Cart Section Start ======================== -->
<div class="cart padding-y-120">
    <div class="container">
        <div class="cart-content">
            <div class="table-responsive">
                <table class="table style-two">
                    <thead>
                      <tr>
                        <th>Product Details</th>
                        <th>Price</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for product in wishlist_products %}
                      <tr>
                        <td>
                            <div class="cart-item">
                                <div class="d-flex align-items-center gap-3">
                                    <div class="cart-item__thumb">
                                        <a href="product-details.html" class="link">
                                            <img src="{{product.product.image.url}}" alt="" class="cover-img">
                                        </a>
                                    </div>
                                    <div class="cart-item__content">
                                        <h6 class="cart-item__title font-heading fw-700 text-capitalize font-18 mb-4"> <a href="product-details.html" class="link">{{product.product.name}}</a></h6>
                                        <span class="cart-item__price font-18 text-heading fw-500">Category: <span class="text-body font-14">{{product.product.category.name}}</span></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="cart-item__totalPrice text-body font-18 fw-400 mb-0">${{product.product.price}}</span>
                        </td>
                        <td>
                            <div class="flx-align gap-2">
                                <a type="button" class="btn btn-main btn-sm pill">Add to Cart</a>
                                <a href="{% url 'delete_wishlist' product.product.code %}" type="button" class="btn btn-danger btn-sm pill">Remove</a>
                            </div>
                        </td>
                      </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<!-- ======================= Cart Section End ======================== -->



{% endblock %}